*.tmp
*.log

.vscode/
.idea/

-20-20.js
-2020.js
.prettierrc
20-135.js
20-20.js
20-45.js
20120.js
20135.js
2020.js
2045.js
40-40.js
40140.js
files.txt
Автоизменение сборочных единиц.js
Вес нескольких панелей по плотности.js
Включить сборочная единица на блоке.js
Выделение криволинейных панелей с кромкой.js
Выделение по обозначению.js
Замена направление текстуры на не задана.js
Имя CE  каждому объекту.js
Отменить выделение скрытых объектов.js
Паз по контуру.js
Площадь панели.js
Площадь покраски нескольких панелей.js
Проба.js
Проверка кромок.js
Проверка моделей.js
Сделать красиво.js
Удаление всех габаритных рамок.js
